.wrapper {
    padding: 2em;
}

.asi-header {
    padding: 0 .5em;
}


.asi-repositories {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1em 0;
}

.asi-repositories .asi-repository {
    box-sizing: border-box;
    padding: .5em;
    width: calc(100% / 3);
}

@media screen and (max-width: 760px) {
    .asi-repositories .asi-repository {
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 563px) {
    .asi-repositories .asi-repository:nth-child(n) {
        width: 100%;
    }
}