.asi-button {
    background: #0081d6;
    border: 0;
    color: #fff;
    border-radius: 3px;
    font-size: 1.3rem;
    box-sizing: border-box;
    padding: .5em 1em;
    outline: none;
    cursor: pointer;
}

.asi-button:hover {
    opacity: .8;
}

