.asi-input {
    box-sizing: border-box;
    padding: .5em 1em;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 1.3rem;
    width: 100%;
}

.asi-input--has-error {
    border-color: red;
}