.asi-repository {
    flex-grow: 1;
}
.asi-repository__icon-list {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

@media screen and (max-width: 680px) {
    .asi-repository__icon-list {
        width: 100%;
    }
}

.asi-repository__icon {
    color: #ccc;
    font-size: .7rem;
    display: flex;
    align-items: center;
}

.asi-repository__icon > *:first-child {
    margin-right: .3em;
}