.asi-search {
    display: flex;
    justify-content: space-between;
}

.asi-search input {
    flex-basis: 75%;
}

@media screen and (max-width: 760px){
    .asi-search {
        flex-direction: column;
    }
}